*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.h1 h1{
	text-align: center;
	margin-bottom: 19px;

}
.sec-1{
	border: 2px solid black;
	width: 29%;	
	position: relative;
}
.head-1{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	display: inline;
}
.des-1{
	padding: 19px;
	padding-top: 24px;
	text-align: center;
	background-color: gray;
}
.sec-2{
	border: 2px solid black;
	width: 29%;	
	position: relative;
}
.head-2{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	display: inline;
}
.des-2{
	padding: 19px;
	padding-top: 24px;
	text-align: center;
	background-color: gray;
}
.sec-3{
	border: 2px solid black;
	width: 29%;	
	position: relative;
}
.head-3{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	display: inline;
}
.des-3{
	padding: 19px;
	padding-top: 24px;
	text-align: center;
	background-color: gray;
}
	@media(min-width: 992px){ .large_screen{
			border: 1px solid black;
			margin-left: 3px;
			float: left;}
		.large_screen{
		
			width: 33%;
		}
	}
	@media(min-width: 768px) and (max-width: 991px){
		.medium_screen, .medium_screen1{
			border: 1px solid green;
			margin-left: auto;
			float: left;
		}
		.medium_screen{
			
			width: 50%;
		}
		.medium_screen1{
			
			width: 100%;
		}
	}
	@media(max-width: 767px){
		.small_screen{
			border: 1px solid black;
			float: left;
		}
		.small_screen{
			width: 100%;
		}
	}
